.product-detail {
    background-color: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.product-detail .image-container {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap;
    gap: 10px; */
}
<<<<<<< HEAD

=======
#product-quantity {
    width: fit-content;
    background-color: whitesmoke;
}
>>>>>>> e1a9452 (Added update & remove cart functionality and some styling changes)
.product-detail img {
    width: 150px;
    height: 15px;
    border-radius: 3px;
    margin: 5px;
}

@media (max-width: 768px) {
    .product-detail .image-container {
        flex-direction: column;
    }
}
